<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  </head>
  <body class="bg-black-color text-white w-full h-[100vh]">
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/'+file ) }}"></script>
  </body>
</html>
